<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaveYourLinks | DarkTechLC</title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <main>
      <header>
        <form action="/search" method="get" class="search">
          <button type="submit" class="button-left">
            <img src="/assets/search.svg" alt="Search links" />
          </button>

          <input
            type="search"
            placeholder="Search links..."
            name="keywords"
            class="input-left"
            required
          />
        </form>

        <img
          src="/assets/logo.png"
          alt="Logomarca SaveYourLinks"
          class="logo"
        />

        <a href="/" class="button-back">
          <img src="/assets/arrow-left.svg" alt="Button back" />
          <span>Back to home</span>
        </a>
      </header>

      <section class="message">
        <h3><%= message %></h3>
        <!-- <h3><%= error %></h3> -->

        <img src="/assets/sad.svg" alt="Error" />
      </section>
    </main>
    <footer>
      <p>
        SaveYourLinks by
        <a href="#" target="_blank" rel="noopener noreferrer">DarkTechLC</a>
      </p>
    </footer>
  </body>
</html>
