<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaveYourLinks | DarkTechLC</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/fa/all.css" />
    <!-- <script src="js/fa/all.js"></script> -->
    <script defer src="js/script.js"></script>
  </head>
  <body>
    <nav class="nav-bar">
      <h1 class="logo"><a href="/"><%= title %></a></h1>

      <div class="nav-actions">
        <form method="GET" action="/search" class="search-form">
          <input
            type="text"
            placeholder="Search..."
            name="keywords"
            class="input-search"
          />
          <button type="submit" class="btn-search">
            <i class="fas fa-search"></i>
          </button>
        </form>

        <div class="nav-btns">
          <button type="button"><i class="fas fa-adjust"></i></button>
        </div>
      </div>
    </nav>

    <section class="add-link">
      <form method="POST" action="/" class="add-link-form">
        <input
          type="text"
          placeholder="Add new link..."
          name="url"
          class="input-add-link"
        />

        <button type="submit" class="btn-add">
          <i class="fas fa-plus"></i>
        </button>
      </form>
    </section>

    <main class="links-saved">
      <a href="#" target="_blank" rel="noopener noreferrer" class="card-link">
        <p class="link-title">DarkTechLC</p>
        <p class="link-description">WebDev</p>
      </a>
    </main>

    <footer></footer>
  </body>
</html>
